USE [master]
GO
/****** Object:  Database [Library]    Script Date: 19/12/2016 10:48:03 πμ ******/
CREATE DATABASE [Library]
 CONTAINMENT = NONE

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Library].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Library]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 19/12/2016 10:48:03 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Book](
	[ID] [int] NOT NULL,
	[Title] [char](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ConferenceNews]    Script Date: 19/12/2016 10:48:03 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ConferenceNews](
	[ID] [int] NOT NULL,
	[Title] [char](30) NULL,
	[Location] [char](30) NULL,
	[Conf_Date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Magazine]    Script Date: 19/12/2016 10:48:03 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Magazine](
	[ID] [int] NOT NULL,
	[Title] [char](30) NULL,
	[Date_Published] [datetime] NULL,
	[Mag_Type] [char](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Member]    Script Date: 19/12/2016 10:48:03 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Member](
	[ID] [int] NOT NULL,
	[Name] [char](30) NULL,
	[Surname] [char](30) NULL,
	[Address] [char](30) NULL,
	[Items_Ordered] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Newspaper]    Script Date: 19/12/2016 10:48:03 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Newspaper](
	[ID] [int] NOT NULL,
	[Title] [char](30) NULL,
	[Paper_No] [int] NULL,
	[Published_No] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PUBLISHED]    Script Date: 19/12/2016 10:48:03 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUBLISHED](
	[Book] [int] NOT NULL,
	[Conf] [int] NOT NULL,
	[Magazine] [int] NOT NULL,
	[Newspaper] [int] NOT NULL,
	[Publishers_Item_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Book] ASC,
	[Newspaper] ASC,
	[Publishers_Item_ID] ASC,
	[Magazine] ASC,
	[Conf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Publisher]    Script Date: 19/12/2016 10:48:03 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Publisher](
	[Name] [char](30) NULL,
	[URL] [char](30) NULL,
	[Item_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Item_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RENT]    Script Date: 19/12/2016 10:48:03 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RENT](
	[Book_ID] [int] NOT NULL,
	[Conf_ID] [int] NOT NULL,
	[Magazine_ID] [int] NOT NULL,
	[Newspaper_ID] [int] NOT NULL,
	[Member_ID] [int] NOT NULL,
	[Rental_Date] [datetime] NULL,
	[Return_Date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Book_ID] ASC,
	[Conf_ID] ASC,
	[Member_ID] ASC,
	[Newspaper_ID] ASC,
	[Magazine_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WAITING]    Script Date: 19/12/2016 10:48:03 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WAITING](
	[Book_ID] [int] NOT NULL,
	[Conf_ID] [int] NOT NULL,
	[Magazine_ID] [int] NOT NULL,
	[Newspaper_ID] [int] NOT NULL,
	[Queue_Line] [int] NULL,
	[Member_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Book_ID] ASC,
	[Conf_ID] ASC,
	[Member_ID] ASC,
	[Newspaper_ID] ASC,
	[Magazine_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WRITE]    Script Date: 19/12/2016 10:48:03 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WRITE](
	[Book] [int] NOT NULL,
	[Conf] [int] NOT NULL,
	[Writers_Item_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Book] ASC,
	[Conf] ASC,
	[Writers_Item_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Writers]    Script Date: 19/12/2016 10:48:03 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Writers](
	[name] [char](30) NULL,
	[Item_Id] [int] NOT NULL,
	[Written_Type] [char](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Item_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[PUBLISHED]  WITH NOCHECK ADD  CONSTRAINT [FK_PUBLISHED_Book] FOREIGN KEY([Book])
REFERENCES [dbo].[Book] ([ID])
GO
ALTER TABLE [dbo].[PUBLISHED] NOCHECK CONSTRAINT [FK_PUBLISHED_Book]
GO
ALTER TABLE [dbo].[PUBLISHED]  WITH NOCHECK ADD  CONSTRAINT [FK_PUBLISHED_ConferenceNews] FOREIGN KEY([Conf])
REFERENCES [dbo].[ConferenceNews] ([ID])
GO
ALTER TABLE [dbo].[PUBLISHED] NOCHECK CONSTRAINT [FK_PUBLISHED_ConferenceNews]
GO
ALTER TABLE [dbo].[PUBLISHED]  WITH NOCHECK ADD  CONSTRAINT [FK_PUBLISHED_Magazine] FOREIGN KEY([Magazine])
REFERENCES [dbo].[Magazine] ([ID])
GO
ALTER TABLE [dbo].[PUBLISHED] NOCHECK CONSTRAINT [FK_PUBLISHED_Magazine]
GO
ALTER TABLE [dbo].[PUBLISHED]  WITH NOCHECK ADD  CONSTRAINT [FK_PUBLISHED_Newspaper] FOREIGN KEY([Newspaper])
REFERENCES [dbo].[Newspaper] ([ID])
GO
ALTER TABLE [dbo].[PUBLISHED] NOCHECK CONSTRAINT [FK_PUBLISHED_Newspaper]
GO
ALTER TABLE [dbo].[PUBLISHED]  WITH CHECK ADD  CONSTRAINT [FK_PUBLISHED_Publisher] FOREIGN KEY([Publishers_Item_ID])
REFERENCES [dbo].[Publisher] ([Item_ID])
GO
ALTER TABLE [dbo].[PUBLISHED] CHECK CONSTRAINT [FK_PUBLISHED_Publisher]
GO
ALTER TABLE [dbo].[RENT]  WITH NOCHECK ADD  CONSTRAINT [FK_RENT_Book] FOREIGN KEY([Book_ID])
REFERENCES [dbo].[Book] ([ID])
GO
ALTER TABLE [dbo].[RENT] NOCHECK CONSTRAINT [FK_RENT_Book]
GO
ALTER TABLE [dbo].[RENT]  WITH NOCHECK ADD  CONSTRAINT [FK_RENT_ConferenceNews] FOREIGN KEY([Conf_ID])
REFERENCES [dbo].[ConferenceNews] ([ID])
GO
ALTER TABLE [dbo].[RENT] NOCHECK CONSTRAINT [FK_RENT_ConferenceNews]
GO
ALTER TABLE [dbo].[RENT]  WITH NOCHECK ADD  CONSTRAINT [FK_RENT_Magazine] FOREIGN KEY([Magazine_ID])
REFERENCES [dbo].[Magazine] ([ID])
GO
ALTER TABLE [dbo].[RENT] NOCHECK CONSTRAINT [FK_RENT_Magazine]
GO
ALTER TABLE [dbo].[RENT]  WITH CHECK ADD  CONSTRAINT [FK_RENT_Member] FOREIGN KEY([Member_ID])
REFERENCES [dbo].[Member] ([ID])
GO
ALTER TABLE [dbo].[RENT] CHECK CONSTRAINT [FK_RENT_Member]
GO
ALTER TABLE [dbo].[RENT]  WITH NOCHECK ADD  CONSTRAINT [FK_RENT_Newspaper] FOREIGN KEY([Newspaper_ID])
REFERENCES [dbo].[Newspaper] ([ID])
GO
ALTER TABLE [dbo].[RENT] NOCHECK CONSTRAINT [FK_RENT_Newspaper]
GO
ALTER TABLE [dbo].[WAITING]  WITH NOCHECK ADD  CONSTRAINT [FK_WAITING_Book] FOREIGN KEY([Book_ID])
REFERENCES [dbo].[Book] ([ID])
GO
ALTER TABLE [dbo].[WAITING] NOCHECK CONSTRAINT [FK_WAITING_Book]
GO
ALTER TABLE [dbo].[WAITING]  WITH NOCHECK ADD  CONSTRAINT [FK_WAITING_ConferenceNews] FOREIGN KEY([Conf_ID])
REFERENCES [dbo].[ConferenceNews] ([ID])
GO
ALTER TABLE [dbo].[WAITING] NOCHECK CONSTRAINT [FK_WAITING_ConferenceNews]
GO
ALTER TABLE [dbo].[WAITING]  WITH NOCHECK ADD  CONSTRAINT [FK_WAITING_Magazine] FOREIGN KEY([Magazine_ID])
REFERENCES [dbo].[Magazine] ([ID])
GO
ALTER TABLE [dbo].[WAITING] NOCHECK CONSTRAINT [FK_WAITING_Magazine]
GO
ALTER TABLE [dbo].[WAITING]  WITH CHECK ADD  CONSTRAINT [FK_WAITING_Member] FOREIGN KEY([Member_ID])
REFERENCES [dbo].[Member] ([ID])
GO
ALTER TABLE [dbo].[WAITING] CHECK CONSTRAINT [FK_WAITING_Member]
GO
ALTER TABLE [dbo].[WAITING]  WITH NOCHECK ADD  CONSTRAINT [FK_WAITING_Newspaper] FOREIGN KEY([Newspaper_ID])
REFERENCES [dbo].[Newspaper] ([ID])
GO
ALTER TABLE [dbo].[WAITING] NOCHECK CONSTRAINT [FK_WAITING_Newspaper]
GO
ALTER TABLE [dbo].[WRITE]  WITH NOCHECK ADD  CONSTRAINT [FK_WRITE_Book] FOREIGN KEY([Book])
REFERENCES [dbo].[Book] ([ID])
GO
ALTER TABLE [dbo].[WRITE] NOCHECK CONSTRAINT [FK_WRITE_Book]
GO
ALTER TABLE [dbo].[WRITE]  WITH NOCHECK ADD  CONSTRAINT [FK_WRITE_ConferenceNews] FOREIGN KEY([Conf])
REFERENCES [dbo].[ConferenceNews] ([ID])
GO
ALTER TABLE [dbo].[WRITE] NOCHECK CONSTRAINT [FK_WRITE_ConferenceNews]
GO
ALTER TABLE [dbo].[WRITE]  WITH NOCHECK ADD  CONSTRAINT [FK_WRITE_Writers] FOREIGN KEY([Writers_Item_ID])
REFERENCES [dbo].[Writers] ([Item_Id])
GO
ALTER TABLE [dbo].[WRITE] NOCHECK CONSTRAINT [FK_WRITE_Writers]
GO
USE [master]
GO
